/* Título */
.titulo {
    text-align: center;
    margin: 30px 0;
}

header {
    background-color: #c0392b;
    padding: 20px;
    position: relative;
}

/* Seção geral */
.avaliacoes {
    padding: 20px;
}

/* Categoria */
.categoria {
    margin-bottom: 40px;
}

/* Título da categoria */
.categoria h2 {
    color: #c0392b;
    margin-bottom: 15px;
}

/* Cards */
.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    display: inline-block;
    margin-right: 10px;
    transition: 0.3s;
}

/* Hover */
.card:hover {
    transform: scale(1.05);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none; /* remove bolinhas */
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #e74c3c;
    padding: 10px 15px;
    border-radius: 8px;
}