* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}

/* HEADER */
header {
  background-color: #7d0606;
  padding: 20px;
  position: relative;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Logo esquerda */
.logo {
  width: 250px;
  height: auto;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}

/* Menu centralizado */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none; 
  gap: 30px;
  text-decoration: none;
  color: white;
}

/* Links */
nav ul li a {
  text-decoration: none;
  color: white;
  background-color: #e74c3c;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: Sans-serif;
  border-radius: 10px;
  transition: 0.3s;
}

/* Hover */
nav ul li a:hover {
  background-color: #922b21;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}

/* parei aqui */
.banner {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.select-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th {
    background: #ddd;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.titulo {
    animation: fadeDown 1s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: aparecer 0.8s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    animation: slideDown 1s ease;
}

.active {
  background: white !important;
  color: #8B0000 !important;
}

@media (max-width: 900px) {
    /* Ajuste do Header para telas médias */
    header {
        flex-direction: column; /* Empilha logo e menu */
        padding: 60px 20px 20px 20px; /* Dá espaço para a logo no topo */
    }

    .logo {
        position: relative; /* Sai do modo "por cima de tudo" */
        left: auto;
        top: auto;
        transform: none;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 180px; /* Diminui a logo no celular */
    }

    .login-btn{
        bottom: 80%;
    }

    nav ul {
        gap: 20px; /* Diminui espaço entre botões */
        flex-wrap: wrap; /* Permite que os botões quebrem linha */
    }

    nav ul li a {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    /* Filtros e Cards em celulares pequenos */
    .filtros {
        padding: 10px;
        justify-content: center;
    }

    .filtros input, 
    .filtros select, 
    .filtros button {
        width: 100%; /* Ocupa a largura toda no celular */
    }

    .lista {
        padding: 0 15px;
    }

    .card {
        flex-direction: column; /* Imagem em cima, texto embaixo */
        align-items: flex-start;
        text-align: center;
    }

    .imagem {
        width: 100%; /* Imagem ocupa o card todo */
        height: 150px;
    }

    .info {
        width: 100%;
    }
}